Automated Forex Intelligence Pricing Platform (1).json
{
  "name": "Automated Forex Intelligence Pricing Platform",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        1616
      ],
      "id": "5b453973-d175-4bb2-b6e2-cc9e3baf854d",
      "name": "Weekly Newsletter Trigger"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        784
      ],
      "id": "7efdd937-af91-47d1-8aaa-27bd862e4b5f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        1184
      ],
      "id": "46a52eb8-760a-466f-874e-8a2ebf364c49",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        1584
      ],
      "id": "71783e45-7392-41c2-ac2d-fe5f7768c45a",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1504,
        1888
      ],
      "id": "0851082d-0604-4eb6-a482-972fecf186c1",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    title: item.json.output.title,\n    rates: item.json.output.rates\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        672
      ],
      "id": "9bc1421c-c115-4f3a-9d27-f583ab3ba1d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2288,
        2144
      ],
      "id": "e3f00189-9160-486a-bc5b-c227e561de97",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "WR3iiP5D6FLhBd3C",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2416,
        2144
      ],
      "id": "f1a0b9d6-afa9-464d-b189-e1fcc5314cf2",
      "name": "Simple Memory6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.mistralAiTool",
      "typeVersion": 1,
      "position": [
        2544,
        2144
      ],
      "id": "c3a005da-1629-4a5c-93cf-55f7f000c5c3",
      "name": "Extract text in Mistral AI5",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ncbagroup.com/ke/forex-rates/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        1072
      ],
      "id": "fb65eaea-0800-4869-9557-3b1843c7f49f",
      "name": "NCBA",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://www.nse.co.ke/share-price/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        1472
      ],
      "id": "edcac20d-318f-41ab-8464-8fa13a1be0cf",
      "name": "NSE",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"FloatRates\",\n  \"title\": \"Key Forex Rates\",\n  \"base_currency\": \"KES\",\n  \"description\": \"Exchange rates showing Kenya Shillings equivalent for 1 unit of foreign currency\",\n  \"rates\": [\n    {\n      \"currency\": \"USD\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"GBP\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"EUR\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"ZAR\",\n      \"kes_per_unit\": \"number\"\n    }\n  ],\n  \"last_updated\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        784
      ],
      "id": "3fcc7074-9be6-45b7-b6bf-8e1268fbedb2",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        16,
        784
      ],
      "id": "3753bba7-3b45-4bbd-bcee-83ab6bdd7a5b",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        16,
        1184
      ],
      "id": "085d6d82-022c-416c-936a-9713d7350ca0",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"NCBA\",\n  \"title\": \"NCBA Rates\",\n  \"base_currency\": \"KES\",\n  \"description\": \"Exchange rates showing Kenya Shillings equivalent for 1 unit of foreign currency\",\n  \"rates\": [\n    {\n      \"currency\": \"USD\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"GBP\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"EUR\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"ZAR\",\n      \"kes_per_unit\": \"number\"\n    }\n  ],\n  \"last_updated\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        1184
      ],
      "id": "98831d51-b1bc-446f-b5a5-95f8dd09a2b4",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        16,
        1584
      ],
      "id": "9501f4f8-2127-4134-86e1-cb6e645068d7",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"NSE\",\n  \"title\": \"Key Forex Rates\",\n  \"base_currency\": \"KES\",\n  \"description\": \"Exchange rates showing Kenya Shillings equivalent for 1 unit of foreign currency\",\n  \"rates\": [\n    {\n      \"currency\": \"USD\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"GBP\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"EUR\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"ZAR\",\n      \"kes_per_unit\": \"number\"\n    }\n  ],\n  \"last_updated\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        1584
      ],
      "id": "c3443bba-1ab6-4216-816c-b3c5541ee254",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1376,
        1888
      ],
      "id": "29712882-41e0-43bb-98dd-3a2f1a1dd983",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"headline\": \"string\",\n  \"newsletter_intro\": \"string\",\n  \"market_outlook\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1632,
        1888
      ],
      "id": "c0e89f39-c268-4382-8de8-5ad923c899f2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        16,
        2896
      ],
      "id": "bb020da2-a550-4188-ab5e-dfac92dac97b",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        2896
      ],
      "id": "5ce2b6ab-56cf-45e2-8627-5104f56d7136",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"string\",\n  \"title\": \"string\",\n  \"base_currency\": \"string\",\n  \"rates\": [\n    {\n      \"currency\": \"string\",\n      \"kes_per_unit\": \"string\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        2896
      ],
      "id": "40e31579-5e1a-427e-80b6-e02711b23e50",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "url": "https://www.floatrates.com/daily/kes.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        672
      ],
      "id": "677d6b45-d142-4def-be0f-204dd58d531d",
      "name": "Floatrates",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        1600
      ],
      "id": "f3c3329e-5a30-4d91-8987-913ff24a5d83",
      "name": "Merge Forex Sources"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Build lookup table\nconst currencies = {};\n\nfor (const item of items) {\n  const source = item.json.source || item.json.title;\n\n  for (const rate of (item.json.rates || [])) {\n    const currency = rate.currency;\n\n    if (!currencies[currency]) {\n      currencies[currency] = {};\n    }\n\n    currencies[currency][source] = rate.kes_per_unit;\n  }\n}\n\nlet html = `\n<h2>Forex Comparison Dashboard</h2>\n\n<table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n<tr>\n<th>Currency</th>\n<th>FloatRates</th>\n<th>NCBA</th>\n<th>ExchangeRate API</th>\n</tr>\n`;\n\nfor (const currency of Object.keys(currencies)) {\n  html += `\n  <tr>\n    <td>${currency}</td>\n    <td>${currencies[currency][\"FloatRates Forex Rates\"] || \"-\"}</td>\n    <td>${currencies[currency][\"NCBA Rates\"] || \"-\"}</td>\n    <td>${currencies[currency][\"ExchangeRate API Forex Rates\"] || \"-\"}</td>\n  </tr>\n  `;\n}\n\nhtml += `</table>`;\n\nreturn [{\n  json: {\n    dashboard_html: html\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        1664
      ],
      "id": "fd3a25ca-1d2e-4a64-a261-72c8ac58f97a",
      "name": "Build Comparison Dashboard"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    headline: item.json.output.headline,\n    newsletter_intro: item.json.output.newsletter_intro,\n    market_outlook: item.json.output.market_outlook\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1664
      ],
      "id": "62a56d77-281d-420d-94cd-f7a2baaa1ce9",
      "name": "Format Newsletter Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e8a9a46-3a2d-4e42-b235-61f2a51cb854",
              "leftValue": "={{ $json.headline }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "27b65202-420d-4fd7-9660-670b51af8e15",
              "leftValue": "={{ $json.newsletter_intro }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7685b663-8f04-463b-9231-8599ea499029",
              "leftValue": "={{ $json.market_outlook }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2064,
        1664
      ],
      "id": "c6deb9ce-3921-4136-8c08-a595326efaf7",
      "name": "Validate Newsletter",
      "notes": "Ensures only validated newsletter drafts proceed to logging and delivery.\n"
    },
    {
      "parameters": {
        "sendTo": "maryanne.kinyanjui@student.moringaschool.com ,  simon.njuguna1@student.moringaschool.com ,  paul.wahome@student.moringaschool.com",
        "subject": "={{ $json.headline }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 800px; margin: auto;\">\n\n<h1 style=\"color:#003366;\">\n{{ $json.headline }}\n</h1>\n\n<p style=\"font-size:16px; line-height:1.6;\">\n{{ $json.newsletter_intro }}\n</p>\n\n<h2 style=\"color:#0056b3;\">\nMarket Outlook\n</h2>\n\n<p style=\"font-size:15px; line-height:1.6;\">\n{{ $json.market_outlook }}\n</p>\n\n<hr>\n\n<h2 style=\"color:#0056b3;\">\nForex Comparison Dashboard\n</h2>\n\n{{ $('Build Comparison Dashboard').item.json.dashboard_html }}\n\n<br>\n\n<p style=\"color:#666;\">\nGenerated automatically by the Forex Monitoring System.\n</p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2416,
        1424
      ],
      "id": "54f6cd77-2193-40ac-938e-137a95557036",
      "name": "Send Newsletter Email",
      "webhookId": "134d8c1a-7508-4153-8c3c-36cbe64326c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "uClAil3mj5svKY8h",
          "name": "mkay gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1B6p_MljpvBzE_r4rRfG0aV8llCmHTG-TqSmgyjI4CVw/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Daily Market Newsletter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B6p_MljpvBzE_r4rRfG0aV8llCmHTG-TqSmgyjI4CVw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Headline": "={{ $json.headline }}",
            "Newsletter": "={{ $json.newsletter_intro }}",
            "Market Outlook": "={{ $json.market_outlook }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Newsletter",
              "displayName": "Newsletter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Market Outlook",
              "displayName": "Market Outlook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2416,
        1616
      ],
      "id": "079e4695-d1a9-4a18-8194-7c3315b6244c",
      "name": "Log Newsletter Archive",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vavbbBSkkcvpuObM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the top forex exchange rates against the Kenyan Shilling (KES).\n\nReturn ONLY valid JSON.\n\nsource = \"FloatRates\"\ntitle = \"FloatRates Forex Rates\"\nbase_currency = \"KES\"\n\nInclude major currencies such as USD, GBP, EUR, ZAR, JPY, AUD, CAD and any other available currencies.\n\nFor each currency return:\n- currency\n- kes_per_unit",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        560
      ],
      "id": "0fb73266-017d-47a1-8da5-a0c67e95c7a4",
      "name": "Summarize FloatRates"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the top forex exchange rates against the Kenyan Shilling (KES).\n\nReturn ONLY valid JSON.\n\nsource = \"NCBA\"\ntitle = \"NCBA Rates\"\nbase_currency = \"KES\"\n\nInclude major currencies such as USD, GBP, EUR, ZAR, JPY, AUD, CAD and any other available currencies.\n\nFor each currency return:\n- currency\n- kes_per_unit",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        960
      ],
      "id": "977ebbb9-7646-45db-a4d7-56364b516c8e",
      "name": "Summarize NCBA Rates"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the forex exchange rates from NCBA data.\n\nReturn ONLY valid JSON.\n\nsource = \"NSE\"\ntitle = \"NSE Forex Rates\"\nbase_currency = \"KES\"\n\nInclude major currencies such as USD, GBP, EUR, ZAR, JPY, AUD and CAD.\n\nFor each currency return:\n- currency\n- kes_per_unit",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        1360
      ],
      "id": "52350b83-9c40-489a-ac84-1102ba454789",
      "name": "Summarize NSE Rates"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    source: \"FloatRates\",\n    ...$json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        672
      ],
      "id": "06178eb5-428d-4877-acd0-87792891d260",
      "name": "FloatRates Formatter"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\n\nconst regex = /data-currency=\"([^\"]+)\".*?buy-rate\">([\\d.]+)<.*?sell-rate\">([\\d.]+)</gs;\n\nconst rates = [];\nlet match;\n\nwhile ((match = regex.exec(html)) !== null) {\n  rates.push({\n    currency: match[1],\n    buy: parseFloat(match[2]),\n    sell: parseFloat(match[3]),\n  });\n}\n\nreturn [{\n  json: {\n    bank: \"NCBA\",\n    rates\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1072
      ],
      "id": "7706355d-92af-4c3b-8658-cdad793d0814",
      "name": "NCBA Formatter"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    source: \"CBK\",\n    status: \"FAILED\",\n    error: \"Source unavailable\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1472
      ],
      "id": "4ea51c15-caa9-4187-a0ba-d66e564dbd25",
      "name": "NSE Formatter"
    },
    {
      "parameters": {
        "jsCode": "const rates = $json.rates;\n\nreturn [{\n  json: {\n    source: \"ExchangeRate API\",\n    title: \"ExchangeRate API Forex Rates\",\n    rates: [\n      {\n        currency: \"USD\",\n        kes_per_unit: (1 / rates.USD).toFixed(2)\n      },\n      {\n        currency: \"GBP\",\n        kes_per_unit: (1 / rates.GBP).toFixed(2)\n      },\n      {\n        currency: \"EUR\",\n        kes_per_unit: (1 / rates.EUR).toFixed(2)\n      },\n      {\n        currency: \"ZAR\",\n        kes_per_unit: (1 / rates.ZAR).toFixed(2)\n      },\n      {\n        currency: \"JPY\",\n        kes_per_unit: (1 / rates.JPY).toFixed(2)\n      },\n      {\n        currency: \"AUD\",\n        kes_per_unit: (1 / rates.AUD).toFixed(2)\n      },\n      {\n        currency: \"CAD\",\n        kes_per_unit: (1 / rates.CAD).toFixed(2)\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2672
      ],
      "id": "4520d1ea-f024-41fe-87b5-029baea661b2",
      "name": "ExchangeRate Formatter"
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/KES",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        2672
      ],
      "id": "2a5f9955-a049-4c46-8c02-fa7075ccd968",
      "name": "ExchangeRate API",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    title: item.json.output.title,\n    rates: item.json.output.rates\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1072
      ],
      "id": "de3e11b7-975a-4005-a37d-a577c4aec658",
      "name": "Format NCBA Output"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    title: item.json.output.title,\n    rates: item.json.output.rates\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        2672
      ],
      "id": "00a1d403-0594-491c-8c3f-ea62829bd2a0",
      "name": "Format ExchangeRate Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1ea0e0ab-940a-4470-8fb2-7f1f7c0f1056",
              "leftValue": "={{ $json.rates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        2672
      ],
      "id": "60f14c3b-e76d-40ff-8dd0-e43ce18f7e9f",
      "name": "Validate ExchangeRate JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "759beaf7-3919-4c3e-95e3-cc0e7ed1697f",
              "leftValue": "={{ $json.rates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        1472
      ],
      "id": "cf3a1cef-56f0-4a59-a1a2-2e5b44dd428d",
      "name": "Validate NSE JSON1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a financial data analyst.\n\nAnalyze the provided ExchangeRate API data and extract the major forex exchange rates against the Kenyan Shilling (KES).\n\nReturn ONLY valid JSON.\n\nRequirements:\n- source = \"ExchangeRate API\"\n- title = \"ExchangeRate API Forex Rates\"\n- base_currency = \"KES\"\n- Include only major currencies: USD, GBP, EUR, ZAR, JPY, AUD, CAD.\n- For each currency provide:\n  - currency\n  - kes_per_unit\n- Do not include explanations.\n- Do not include markdown.\n- Do not include text outside the JSON.\n\nExample format:\n\n{\n  \"source\": \"ExchangeRate API\",\n  \"title\": \"ExchangeRate API Forex Rates\",\n  \"base_currency\": \"KES\",\n  \"rates\": [\n    {\n      \"currency\": \"USD\",\n      \"kes_per_unit\": \"132.50\"\n    }\n  ]\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        2672
      ],
      "id": "63099c63-7aad-43da-a47a-d3c329f3f83b",
      "name": "Summarize ExchangeRate API"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Chief Editor.\n\nReview the forex comparison dashboard and create a concise financial newsletter.\n\nInclude:\n- Headline\n- Brief summary of key exchange rate observations\n- Mention any notable differences between sources\n\nKeep the newsletter under 200 words.\n\nReturn valid JSON only.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1440,
        1664
      ],
      "id": "4be99acc-bfde-472f-916c-d55faabfca78",
      "name": "chief editor AI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a simplified newsletter intro using available summaries.\n\nSTRICT RULES:\n\n1. Under 200 words\n2. Plain text only\n3. Use simple professional tone\n4. Return ONLY valid JSON\n\nInput summaries:\n{{ JSON.stringify($json, null, 2) }}\n\nReturn ONLY valid JSON in this format:\n\n{\n\"newsletter_intro\": \"string\",\n\"word_count\": number,\n\"model_used\": \"GPT-4o-mini\",\n\"status\": \"fallback-success\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2352,
        1920
      ],
      "id": "e81f79be-4c26-4296-b505-ca97a54c125e",
      "name": "Fallback Newsletter AI"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e6df1cb-824d-4d94-9ef1-12c47b0ea8e4",
              "leftValue": "={{ $json.rates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        672
      ],
      "id": "16c9277a-9ed9-4d01-a24b-46be54d7956a",
      "name": "Validate FloatRates JSON1",
      "notes": "Prevents malformed AI outputs from entering downstream merge operations.\n"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "758244d2-6513-424f-b67c-401bf9b86378",
              "leftValue": "={{ $json.rates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        1072
      ],
      "id": "3eab3a29-91bb-4f8e-9c2d-dc16c63b150e",
      "name": "Validate NCBA JSON"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    title: item.json.output.title,\n    rates: item.json.output.rates\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1472
      ],
      "id": "2d3ee881-6467-4389-9708-147b8d3a0a30",
      "name": "Format NSE JSON"
    },
    {
      "parameters": {
        "content": "SUCCESSFUL FOREX SOURCES\n\nThese sources are queried successfully and provide exchange rate data for comparison.",
        "height": 2656,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        176
      ],
      "id": "7c10b6de-c2b1-430f-a4c0-460fab68b2f9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "DATA EXTRACTION & VALIDATION\n\nAI extracts forex rates into structured JSON.\nValidation ensures only valid data reaches the dashboard.",
        "height": 2688,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        352
      ],
      "id": "500781b1-e955-4657-8df4-19c765ed6812",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "MERGE STRATEGY\n\nOnly validated sources are merged.\nFailed sources do not stop workflow execution.",
        "height": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1360
      ],
      "id": "911b3df6-0b11-4a86-9be7-ba6bf618426e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "REPORTING & DISTRIBUTION\n\nForex rates are merged into a comparison dashboard.\nAI generates a newsletter which is emailed and archived.",
        "height": 1040,
        "width": 1600,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        1248
      ],
      "id": "6d7093b2-be1a-45bb-bd9c-0f1a1e23e7ea",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        16,
        1984
      ],
      "id": "b9077094-8ee4-46e8-9515-0efdd860c68d",
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Key Forex Rates\",\n  \"base_currency\": \"KES\",\n  \"description\": \"Exchange rates showing Kenya Shillings equivalent for 1 unit of foreign currency\",\n  \"rates\": [\n    {\n      \"currency\": \"USD\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"GBP\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"EUR\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"ZAR\",\n      \"kes_per_unit\": \"number\"\n    }\n  ],\n  \"last_updated\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        1984
      ],
      "id": "e965afa0-0680-4515-a39c-b2455589d2cd",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1872
      ],
      "id": "91878d6d-4a83-4047-a181-9d91a7f1e6eb",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c597d4d0-ff37-4874-82f0-923d460fcc8d",
              "leftValue": "={{ $json.output.rates.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        1872
      ],
      "id": "1db21035-c2f2-4919-a72a-1a3e1e50d477",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        1984
      ],
      "id": "d472b363-842b-43db-8b48-f1b77d7d6756",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        2272
      ],
      "id": "4eefac44-47cc-4e4f-a7ef-bcefab3c6e45",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        16,
        2384
      ],
      "id": "39ada37d-b9bd-4e9d-acef-707e5d6a25cd",
      "name": "Mistral Cloud Chat Model6",
      "credentials": {
        "mistralCloudApi": {
          "id": "9RkX5mYqGQIbtGll",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        2384
      ],
      "id": "34c7c543-a113-4f98-b55f-e7074de4b71c",
      "name": "Simple Memory7"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Key Forex Rates\",\n  \"base_currency\": \"KES\",\n  \"description\": \"Exchange rates showing Kenya Shillings equivalent for 1 unit of foreign currency\",\n  \"rates\": [\n    {\n      \"currency\": \"USD\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"GBP\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"EUR\",\n      \"kes_per_unit\": \"number\"\n    },\n    {\n      \"currency\": \"ZAR\",\n      \"kes_per_unit\": \"number\"\n    }\n  ],\n  \"last_updated\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        272,
        2384
      ],
      "id": "5a0c8ea2-5745-4e12-b485-f8dc520777ae",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        2272
      ],
      "id": "a21d0d5f-ba03-455c-bd55-1606eb2bc55d",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a28fc9da-404d-4abb-8fa2-f367ce7f7332",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        2272
      ],
      "id": "69f3c8bf-77c0-4b5d-950c-7daef55d1609",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://www.centralbank.go.ke/forex/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        1872
      ],
      "id": "127ab7bf-2a78-4308-bdad-592acc53cec1",
      "name": "CBK",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://boakenya.com/treasury/daily-exchange-rates/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -432,
        2272
      ],
      "id": "a78c11d9-834b-41b4-9b5a-d811fd46cf38",
      "name": "Bank Of Africa",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extract the top forex exchange rates against the Kenyan Shilling (KES).\n\nReturn ONLY valid JSON.\n\nsource = \"CBK\"\ntitle = \"NCBA Rates\"\nbase_currency = \"KES\"\n\nInclude major currencies such as USD, GBP, EUR, ZAR, JPY, AUD, CAD and any other available currencies.\n\nFor each currency return:\n- currency\n- kes_per_unit",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        1760
      ],
      "id": "612ad037-4f4c-491f-bdab-dc9c0b34f3ac",
      "name": "Summarize CBK Rates"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data;\n\nconst regex = /data-currency=\"([^\"]+)\".*?buy-rate\">([\\d.]+)<.*?sell-rate\">([\\d.]+)</gs;\n\nconst rates = [];\nlet match;\n\nwhile ((match = regex.exec(html)) !== null) {\n  rates.push({\n    currency: match[1],\n    buy: parseFloat(match[2]),\n    sell: parseFloat(match[3]),\n  });\n}\n\nreturn [{\n  json: {\n    bank: \"CBK\",\n    rates\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        1872
      ],
      "id": "ef4cdab9-624e-4f83-b317-1c8a750159cc",
      "name": "CBK rate formatter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extract the forex exchange rates from NCBA data.\n\nReturn ONLY valid JSON.\n\nsource = \"Bank Of Africa\"\ntitle = \"BOA Forex Rates\"\nbase_currency = \"KES\"\n\nInclude major currencies such as USD, GBP, EUR, ZAR, JPY, AUD and CAD.\n\nFor each currency return:\n- currency\n- kes_per_unit",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        2160
      ],
      "id": "3db0d063-a141-49e0-a788-7757a04f4ee8",
      "name": "Summarize Bank Of Africa"
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Newsletter Trigger": {
      "main": [
        [
          {
            "node": "Floatrates",
            "type": "main",
            "index": 0
          },
          {
            "node": "NCBA",
            "type": "main",
            "index": 0
          },
          {
            "node": "NSE",
            "type": "main",
            "index": 0
          },
          {
            "node": "CBK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bank Of Africa",
            "type": "main",
            "index": 0
          },
          {
            "node": "ExchangeRate API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Summarize FloatRates",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Summarize NCBA Rates",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Summarize NSE Rates",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "chief editor AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Validate FloatRates JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Newsletter AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory6": {
      "ai_memory": [
        [
          {
            "node": "Fallback Newsletter AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract text in Mistral AI5": {
      "ai_tool": [
        [
          {
            "node": "Fallback Newsletter AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NCBA": {
      "main": [
        [
          {
            "node": "NCBA Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NSE": {
      "main": [
        [],
        [
          {
            "node": "NSE Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize FloatRates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize FloatRates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize NCBA Rates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize NCBA Rates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize NSE Rates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize NSE Rates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "chief editor AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "chief editor AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize ExchangeRate API",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Summarize ExchangeRate API",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize ExchangeRate API",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Floatrates": {
      "main": [
        [
          {
            "node": "FloatRates Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Forex Sources": {
      "main": [
        [
          {
            "node": "Build Comparison Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Comparison Dashboard": {
      "main": [
        [
          {
            "node": "chief editor AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Newsletter Output": {
      "main": [
        [
          {
            "node": "Validate Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Newsletter": {
      "main": [
        [
          {
            "node": "Log Newsletter Archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Newsletter Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Newsletter AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize FloatRates": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize NCBA Rates": {
      "main": [
        [
          {
            "node": "Format NCBA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize NSE Rates": {
      "main": [
        [
          {
            "node": "Format NSE JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FloatRates Formatter": {
      "main": [
        [
          {
            "node": "Summarize FloatRates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NCBA Formatter": {
      "main": [
        [
          {
            "node": "Summarize NCBA Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NSE Formatter": {
      "main": [
        [
          {
            "node": "Summarize NSE Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExchangeRate Formatter": {
      "main": [
        [
          {
            "node": "Summarize ExchangeRate API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExchangeRate API": {
      "main": [
        [
          {
            "node": "ExchangeRate Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format NCBA Output": {
      "main": [
        [
          {
            "node": "Validate NCBA JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format ExchangeRate Output": {
      "main": [
        [
          {
            "node": "Validate ExchangeRate JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate NSE JSON1": {
      "main": [
        [
          {
            "node": "Merge Forex Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Summarize ExchangeRate API": {
      "main": [
        [
          {
            "node": "Format ExchangeRate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chief editor AI": {
      "main": [
        [
          {
            "node": "Format Newsletter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate FloatRates JSON1": {
      "main": [
        [
          {
            "node": "Merge Forex Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate NCBA JSON": {
      "main": [
        [
          {
            "node": "Merge Forex Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format NSE JSON": {
      "main": [
        [
          {
            "node": "Validate NSE JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize CBK Rates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize CBK Rates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Summarize CBK Rates",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Summarize Bank Of Africa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Bank Of Africa",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory7": {
      "ai_memory": [
        [
          {
            "node": "Summarize Bank Of Africa",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize Bank Of Africa",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CBK": {
      "main": [
        [
          {
            "node": "CBK rate formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bank Of Africa": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge Forex Sources",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Summarize CBK Rates": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CBK rate formatter": {
      "main": [
        [
          {
            "node": "Summarize CBK Rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge Forex Sources",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Validate ExchangeRate JSON": {
      "main": [
        [
          {
            "node": "Merge Forex Sources",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Summarize Bank Of Africa": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0da4576a-5eab-4485-abd0-f7b55e598a18",
  "meta": {
    "instanceId": "e99daf14c79c0154b51a81f3f7ae5a32a676ca7586c42b2395dde223381c9944"
  },
  "id": "CCQS6rKKB1zdmPKb",
  "tags": []
}